# FastAPI and Server
fastapi
uvicorn[standard]
gunicorn
python-multipart

# Google Cloud Libraries
google-cloud-aiplatform
google-cloud-vision
google-cloud-storage

# Utilities
python-dotenv
pydantic
